.App {
  text-align: center;
}
.baslik {
  display: flex;
  justify-content: center;
}
.baslik h2 {
  margin-right: 60px;
  color: #0a0a14;
  width: 122px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}
.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
}
.logolar img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.logolar h2 {
  color: #777777;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.mods {
  display: flex;
  justify-content: flex-end;
  margin: 63px 157px 40px 924px;
}
.header {
  width: 1440px;
  height: 738px;
}
.dil {
  margin-left: 5px;
}
.dil-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  color: #e92577;
  text-decoration: none;
  background-color: white;
}
.mod {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1em;

  color: #777777;
}
.cizgi {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.cizgi hr {
  border: none;
  margin-left: 6px;
  height: 100%;
  width: 1px;
  background-color: #777777;
}
.selam {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  color: #000000;
}
.tanitim {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 64px;
  width: 666px;
  height: 256px;

  letter-spacing: 0.01em;

  color: #0a0a14;
}
.davet {
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 540px;
  height: 64px;
  letter-spacing: 0.05em;

  color: #000000;
}
.xx {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: 175px;
}
.header-main {
  display: flex;
  margin: 151px 171px 94px 162px;
}
.header-icons {
  margin-top: 30px;
}
.header-icons a {
  margin: 10px;
}

.profil-baslik {
  display: flex;
  justify-content: center;
}
.profil-baslik h2 {
  color: #0a0a14;
  width: 122px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}
.profile-section {
  height: 546px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f4f4f4;
  align-items: center;
}
.info {
  background-color: white;
  width: 508px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 8px 8px grey;
}
.about {
  width: 476px;
  height: 241px;
  text-align: start;
}
.bilgiler {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 40px;
}
.project-section {
  background-color: red;
  height: 792px;
  width: 100%;
}
.footer-section {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main {
  display: flex;
  gap: 40px;
  font-size: 42px;
}
.footer-davet {
  width: 540px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;

  text-align: right;
  letter-spacing: 0.01em;

  color: #0a0a14;
}
.links {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #0a0a14;
}
.links a {
  text-decoration: none;
}
