.App {
  text-align: center;
  margin-top: -125px;
  background-color: #f4f4f4;
}
.skill-section {
  height: 490px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.skill-section-dark {
  height: 490px;
  background-color: #484148;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.skill-section-dark h2 {
  color: white !important ;
}
.baslik {
  display: flex;
  background-color: #ffffff;
  justify-content: center;

  padding: 0;
}
.baslik-dark {
  display: flex;
  background-color: #484148;
  justify-content: center;

  padding: 0;
}
.baslik h2 {
  margin-right: 60px;
  color: #0a0a14;
  width: 122px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}
.baslik-dark h2 {
  margin-right: 60px;
  color: #ffffff;
  width: 122px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}
.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  background-color: #ffffff;
}
.logo-container-dark {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  background-color: #484148;
}
.logolar img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.logolar h2 {
  color: #777777;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.mods {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
  margin: 0px 157px 40px 924px;
}
.mods-dark {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
  margin: 0px 157px 40px 924px;
  background-color: #2a262b;
}

.header {
  width: 100%;
  height: 738px;
  background-color: #f4f4f4;
}
.header-dark {
  width: 100%;
  height: 738px;
  background-color: #2a262b;
}

.header-dark .xx div {
  color: #ffffff;
}
.dil {
  display: flex;
  margin-left: 5px;
}
.dil-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  color: #e92577;
  text-decoration: none;
  background-color: #f4f4f4;
}
.mod {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mod p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  color: #777777;
  text-decoration: none;
  background-color: #f4f4f4;
}
.mod-dark p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  color: #777777;
  text-decoration: none;
  color: white;
  background-color: #2a262b;
}
.mod-dark {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mods-dark .dil-button {
  background-color: #2a262b;
}
.cizgi {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.cizgi hr {
  border: none;
  margin-left: 6px;
  height: 50%;
  width: 1px;
  background-color: #777777;
}
.selam {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  color: #000000;
}
.tanitim {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 64px;
  width: 566px;
  z-index: 0;
  height: 256px;

  letter-spacing: 0.01em;

  color: #0a0a14;
}
.davet {
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 540px;
  height: 64px;
  letter-spacing: 0.05em;

  color: #000000;
}
.xx {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.foto {
  width: 361px;
  height: 361px;
  background-color: red;
  box-shadow: -20px -20px #e92577;
  border-radius: 15px;
  margin-top: 60px;
}
.header-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  gap: 100px;
}
.header-icons {
  margin-top: 30px;
}
.header-icons a {
  margin: 10px;
}

.profil-baslik {
  display: flex;
  justify-content: center;
}
.profil-baslik h2 {
  color: #0a0a14;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}
.profile-main {
  height: 600px;
  background-color: #f4f4f4;
}
.profile-main-dark {
  height: 600px;
  background-color: #2a262b;
}
.profile-main-dark h2 {
  color: #ffffff;
}
.profile-section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #f4f4f4;
  align-items: center;
}
.profile-section-dark {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #2a262b;

  align-items: center;
}

.info {
  background-color: white;
  width: 508px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 8px 8px grey;
}
.info-dark {
  background-color: #525252;
  width: 508px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 8px 8px #52525280;
}
.info h2 {
  text-align: start;
  margin-left: 45px;
  margin-top: 40px;
  color: #e92577;
}
.info-dark h2 {
  text-align: start;
  margin-left: 45px;
  margin-top: 40px;
  color: #e92577;
}
.info-dark .bilgiler p {
  color: #ffffff;
}
.about {
  width: 476px;
  height: 241px;
  text-align: start;
  z-index: 1;
}
.about-dark {
  width: 476px;
  height: 241px;
  text-align: start;
  z-index: 1;
  background-color: #2a262b;
}
.about-dark h2 {
  color: #ffffff;
}
.about-dark p {
  color: #ffffff;
}
.bilgiler {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 40px;
  margin-top: 30px;
}
.project-section {
  background-color: red;
  height: 792px;
  width: 100%;
}
.footer-section {
  background-color: #ffffff;
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section-dark {
  background-color: #484148;
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section-dark .footer-davet {
  color: #ffffff;
}
.footer-main {
  display: flex;
  margin-top: 100px;
  gap: 40px;
  font-size: 42px;
}
.footer-davet {
  width: 540px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  z-index: 1;
  text-align: right;
  letter-spacing: 0.01em;

  color: #0a0a14;
}
.links {
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.links a {
  text-decoration: none;
}
.links a:nth-child(1) {
  color: #1769ff;
}
.links a:nth-child(3) {
  color: #0a0a14;
}
.links a:nth-child(5) {
  color: #0077b5;
}
.links a:nth-child(7) {
  color: #af0c48;
}
.projects {
  background-color: #ffffff;
  height: 792px;
}
.no1 {
  position: relative;
  width: 148px;
  height: 31px;
  left: 52px;
  top: 289px;
}
.no2 {
  position: relative;
  width: 217px;
  height: 59px;
  left: 970px;
  top: 636px;
}
.no3 {
  position: relative;
  width: 121px;
  height: 121px;
  left: 438px;
  top: 805px;
}
.no4 {
  position: relative;
  width: 181px;
  height: 49px;
  left: -669px;
  top: 1133px;
}
.no5 {
  position: relative;
  width: 121px;
  height: 121px;
  left: 548px;
  top: 1298px;
}
.no6 {
  position: relative;
  width: 90px;
  height: 18px;
  left: -170px;
  top: 1503px;
}
.no7 {
  position: relative;
  width: 275px;
  height: 18px;
  left: -500px;
  top: 3023px;
}
/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #ffe86e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e92577;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 430px) {
  .no1,
  .no2,
  .no3,
  .no4,
  .no5,
  .no6,
  .no7 {
    display: none;
  }
  /* .App {
    
  }
  .mods {
    
  } */
  .header-main {
    flex-direction: column;
    scale: 0.6;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
  }
  .skill-section {
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    scale: 0.5;
    flex-shrink: 1;
  }
}
